* { /*обнуление отступов у всей страницы*/
  padding: 0;
  margin: 0;
}

@font-face { /*привязал два шрифта*/
  font-family: "beer";
  src: url("../fonts/beer\ money.ttf");
}

@font-face {
  font-family: "bicubik";
  src: url("../fonts/Bicubik.OTF");
}

footer { /*стиль для блока с подвалом*/
  background-color: #d22a37;
  width: 100%;
  height: 10vh;
  margin: 0 auto;
} 
.parallax .bg_one, /*настраивал блок с паралаксом, чтобы две картинки при скролле - прокруте страницы, накладывались друг на друга*/
.bg_two {
  z-index: -1;
  position: relative;
  height: 100vh;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.parallax .bg_one { /*первый фон*/
  z-index: 0;
  background-image: url(../images/lolbg.jpg);
}
.parallax .bg_two { /*второй фон*/
  z-index: 0;
  background-image: url(../images/val.jpeg);
}


.lol,
.val { /*расположение блоков на странице*/
  display: flex;
  flex-direction: row;
}

.lol .pict { /*ширина блока с картинкой*/
  width: 30%;
  position: relative;
}

.lol .pict img { /*ширина картинки относительно блока*/
  width: 30vw;
  margin-top: 8vh;
  padding-left: 1vw;
  position: relative;
}

.lolv { /*блок с видео*/
  margin-top: 10vh;
  padding-right: 0;
  position: relative;
  float: right;
  display: flex;
  flex-direction: row;
  width: 70%;
}

.lolv video { /*само видео*/
  height: fit-content; /*это чтобы блок под размеры видоса подравнялся*/
  margin-top: 10vh;
  margin-left: 2vw;
  position: relative;
  float: right;
  display: flex;
  flex-direction: row;
  width: 60vw;
  box-shadow: 0 0px 12px rgba(151, 7, 7, 0.7), 0 0px 20px rgba(0, 0, 0, 0.2); /*тень у блока с видео*/
}

.val .pict img { /*картинка у нижнего блока*/
  width: 28vw;
  margin-top: 5vh;
  padding-left: 1vw;
  position: relative;
}

.valv { /*блок второй снизу*/
  margin-top: 10vh;
  padding-right: 0;
  position: relative;
  float: right;
  display: flex;
  width: 70%;
}

.valv video { /*блок с видосом снизу*/
  height: fit-content;
  margin-top: 14vh;
  margin-left: 2vw;
  position: relative;
  float: right;
  display: flex;
  width: 90%;
  overflow: hidden;
  box-shadow: 0 0px 12px rgba(151, 7, 7, 0.7), 0 0px 20px rgba(0, 0, 0, 0.2); /*тень для блока с видео*/
}

.zag h1 { /*стиль для заголовка*/
  background: none;
  z-index: 10000;
  font-size: 5vh;
  font-family: "bicubik";
  text-align: center;
  color: #d22a37;
}

.header { /*стиль для блока шапки*/
  z-index: 1;
  width: 100%;
  height: 15vh;
  font-family: "beer";
  background-color: #d22a37;
  opacity: 0.9;
}

.menu { /*тут расположение объектов в меню настраивал*/
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.content h1 { /*стиль для заголовка в блоке content*/
  font-size: 5vh;
  margin-top: 10vh;
  font-family: "bicubik";
  text-align: center;
  color: #d22a37;
}

.content h1:hover { /*смена цвета при наведении на заголовок*/
  color: black;
}

.content p { /*стиль для текста*/
  border-bottom: 1px solid black;
  margin-bottom: 1vh;
  margin-left: 10%;
  max-width: 80%;
  padding-top: 5vh;
  align-items: center;
  font-family: "bicubik";
  text-align: justify;
  font-size: 3vh;
}

.menu a { /*стиль для ссылок в меню*/
  text-decoration: none; /*убрал подчеркивание ссылок*/
  display: block;
  position: relative;
  line-height: 6.1vh;
  padding-left: 2vh;
  right: 5vh;
  font-size: 3vh;
  letter-spacing: 0.1vh;
  font-family: "beer";
  font-weight: bold;
  color: black;
  transition: 0.3s linear; /*плавность анимации смены цвета*/
  top: 4vh;
}
.menu a:hover { /*при наведении на ссылку смена цвета*/
  color: white;
}

button { /*стиль для кнопки*/
  cursor: pointer;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: -15vh;
  width: 8vw;
  height: 15vh;
  border: none;
  background-color: #d22a37;
}

footer { /*стиль для блока подвала*/
  background-color: #d22a37;
  width: 100%;
  height: 15vh;
  bottom: 0;
  position: relative;
  margin: 0 auto;
}
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"); /*библиотека стилей, отсюда иконки соц сетей брал*/

.footer-distributed { /*блок подвала*/
  background-color: #d22a37;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  text-align: left;
  padding: 4vh 2vw;
}


.footer-distributed p.footer-links { 
  font-size: 18px;
  font-weight: bold;
  color: black;
  font-family: "bicubik";
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.5s;
}

.footer-distributed p.footer-links a { /*стиль ссылок*/
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.5s;
}

.footer-distributed p.footer-links a::after { /*полосочка после текста ссылки*/
  content: " |";
}

.footer-distributed p.footer-links a:hover { /*смена цвета ссылок при наведении*/
  color: white;
}

.footer-distributed .footer-right { /*расположение для блока с иконками*/
  float: right;
}

.footer-distributed .footer-right a { /*стиль ссылок*/
  display: inline-block;
  width: 3.5vw;
  height: 3.5vh;
  font-size: 4vh;
  color: #ffffff;
  text-align: center;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-left img { /*подравнял логотип в подвале*/
  margin-bottom: -2vh;
}

.footer-distributed .footer-right a:hover { /*при наведении меняется масштаб(scale) иконок соц сетей в подвале и они увеличиваются*/
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
