* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "beer";
  src: url("../fonts/beer\ money.ttf");
}

@font-face {
  font-family: "bicubik";
  src: url("../fonts/Bicubik.OTF");
}


footer {
  background-color: #d22a37;
  width: 100%;
  height: 10vh;
  
  margin:0 auto;
}

.head li {
  justify-content: center;
  align-items: center;
  float: left;
  display: flex;
}

.head a {
  margin-left: 1vw;
  margin-top: 3vh;
  padding: 1vw;
  font-size: 4vh;
  color: black;
  text-decoration: none;
}



.parallax .bg_one,
.bg_two {
  z-index: -1;
  position: relative;
  height: 100vh;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.parallax .bg_one {
  z-index: 0;
  background-image: url(../images/lolbg.jpg);
}
.parallax .bg_two {
  z-index: 0;
  background-image: url(../images/val.jpeg);
}

.content {
  position: relative;
}

.lol,
.val {
  display: flex;
  flex-direction: row;
}

.lol .pict {
  width: 30%;
  position: relative;
}

.lol .pict img {
  width: 30vw;
  margin-top: 8vh;
  padding-left: 1vw;
  position: relative;
}

.lolv {
  margin-top: 10vh;
  padding-right: 0;
  position: relative;
  float: right;
  display: flex;
  flex-direction: row;
  width: 70%;
}

.lolv video {
  height: fit-content;
  margin-top: 10vh;
  margin-left: 2vw;
  position: relative;
  float: right;
  display: flex;
  flex-direction: row;
  width: 60vw;
  box-shadow: 0 0px 12px rgba(151, 7, 7, 0.7), 0 0px 20px rgba(0, 0, 0, 0.2);
}



.val .pict img {
  width: 28vw;
  margin-top: 5vh;
  padding-left: 1vw;
  position: relative;
  
}

.valv {
  margin-top: 10vh;
  padding-right: 0;
  position: relative;
  float: right;
  display: flex;
  width: 70%;
}

.valv video {
  height: fit-content;
  margin-top: 14vh;
  margin-left: 2vw;
  position: relative;
  float: right;
  display: flex;
  width: 90%;
  overflow: hidden;
  box-shadow: 0 0px 12px rgba(151, 7, 7, 0.7), 0 0px 20px rgba(0, 0, 0, 0.2);
}

.zag h1 {
  background: none;
  z-index: 10000;
  font-size: 5vh;
  
  font-family: "bicubik";
  text-align: center;
  color: #d22a37;
}


.header  {
  z-index: 1;
  width: 100%;
  height: 15vh;
  font-family: "beer";
  background-color: #d22a37;
  opacity: 0.9;
}

.logo img {
  width: 15vh;
  position: relative;
  left: 5vh;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.content h1 {
  font-size: 5vh;
    margin-top: 10vh;    
    font-family: "bicubik";
    text-align: center;
    color: #d22a37;
  }
  
  .content h1:hover {
      color: black;
    }
  
  .content p {
      border-bottom: 1px solid black;
      margin-bottom: 1vh;
    margin-left: 10%;
    max-width: 80%;
    padding-top: 5vh;
    align-items: center;
    font-family: "bicubik";
    text-align: justify;
    font-size: 3vh;
  }

.menu a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 6.1vh;
  padding-left: 2vh;
  right: 5vh;
  font-size: 3vh;
  letter-spacing: 0.1vh;
  font-family: "beer";
  font-weight: bold;
  color: black;
  transition:.3s linear;
  top: 4vh;
} 
.menu a:hover {
  color: white;
}

button {
  cursor: pointer;
  background-image: url('../images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: -15vh ;
  width: 8vw;
  height: 15vh;
  border: none;
  background-color: #d22a37;
}


footer {
  background-color: #d22a37;
  width: 100%;
  height: 15vh;
  bottom: 0;
  position: relative;
  margin: 0 auto;
}
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.footer-distributed {
  background-color: #d22a37;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  text-align: left;
  padding: 4vh 2vw;
}

/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: black;
  font-family: "bicubik";
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.5s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.5s;
}

.footer-distributed p.footer-links a::after {
  content: " |";
}

.footer-distributed p.footer-links a:hover {
  color: white;
}

.footer-distributed .footer-right {
  float: right;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 3.5vw;
  height: 3.5vh;
  font-size: 4vh;
  color: #ffffff;
  text-align: center;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-left img {
  margin-bottom: -2vh;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

@media (max-width: 385)  {
 .lol {
  flex-direction: column;
 }

  .zag>h1 {
    position: absolute;
    font-size: 1vh;
  }
}